:root{
	--default-margin:12px;

	--color-primary: #225EFF;
	--color-basic: #191919;
	--color-secondary:#515157;
	--color-tertiary:#7d7d81;
	--color-danger:#f00a0a;
	--color-success:#69bc20;
	--color-muted:#a8a8ab;

	--color-green:#449922;
	--color-green2:#678F20;
	--color-red:#FF3333;
	--color-black:#333;
	--color-pink:#EF5880;

	--color-a6:#a6a6a6;

	--color-bordered:#d4d4d5;

	--element-height:44px;
	--element-height-small:36px;
	--element-height-mini:20px;


}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
button{
	border:0;
	background-color:transparent;
}
input::placeholder{
	color:#E5E5E5;
}
input:focus{
	outline:0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type="number"] {
	-moz-appearance: textfield;
}
input[type="checkbox"],
input[type="radio"] {
	-webkit-appearance: none; /* 웹킷 기반 브라우저 초기화 */
	-moz-appearance: none; /* 파이어폭스 초기화 */
	appearance: none; /* 기본 스타일 초기화 */
	margin: 0;
	padding: 0;
	outline: none;
	background: none;
	border: none;
	cursor: pointer;
	background-color:#F4F4F4;
	vertical-align:middle;
}
input[type="radio"]{
	border:1px solid #F4F4F4;
	border-radius:4px;
	width:20px;
	height:20px;
}
input[type="radio"]:checked{
	background-color:#FE684D;
	border-color:#FE684D;
	position:relative;
}
input[type="radio"]:checked::before{
	content: '';
	display: inline-block;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	width: 18px;
	height: 18px;
	/*
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12l5 5L20 7"/></svg>');
	*/
	background-size: contain;
	background-repeat: no-repeat;
}

input[type="radio"] + label{
	font-size:16px;
	font-weight:500;
	color:#333;
	padding-left:6px;
	position:relative;
	top:2px;
}
input[type="radio"] + label + input[type="radio"]{
	margin-left:10px;
}

input[type="checkbox"]{
	background-color:#D5D5D5;
	color:#fff;
}

select{
	-webkit-appearance: none; /* 웹킷 기반 브라우저 초기화 */
	border:1px solid var(--color-bordered);
	height:var(--element-height);
	border-radius:10px;
	padding:24px 30px;
	font-size:1rem;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 9L12 16L19 9"/></svg>') no-repeat calc(100% - 10%) center;
	background-size:14px 14px;
	padding-right:10%;
	width:100%;
	height:70px;
	color:#c3c3c3;
	border:1px solid #E0E0E0;
	height:48px;
	display:flex;
	align-items:center;
	font-size:15px;
	font-weight:500;
	color:#404040;
	width:100%;
	border-radius:5px;
	padding:15px 20px;

}
textarea{
	border:1px solid var(--color-bordered);
	min-height:200px;
	padding:12px 16px;
	font-size:1rem;
	border-radius:8px;
	width:100%;
}

input[readonly]{
	background-color:#E7E7E7;
	border-color:#e0e0e0;
}

/*
	Nav Tab
*/
.nav-tab{
    margin-left:-10px;
}
.nav-tab > ul{
    display:flex;
    width:100%;
    align-items:center;
    justify-content:space-between;
}
.nav-tab > ul > li{
    padding-left:10px;
    width:100%;
}
.nav-tab > ul > li > a{
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:5px;
    background-color:#F6F6F6;
    color:#666;
    padding:0px 30px;
    text-align:center;
    height:84px;
    font-size:20px;
}
.nav-tab > ul > li.active > a{
    background-color:var(--color-active);
    color:#fff;
}

/* nav tab style 2 */
.nav-tab.style2{
    border:1px solid #D9D9D9;
}
.nav-tab.style2 > ul > li{
    padding-left:0;
    border-right:1px solid #D9D9D9;
}
.nav-tab.style2 > ul > li > a{
    border-radius:0;
    padding:15px;
    height:auto;
    font-size:15px;
}
.nav-tab.style2 > ul > li.active > a{
    background-color:var(--color-green);
}

/*
	Custom Select
*/
.custom-select {
  position: relative;
  width: 100%;
  border: 1px solid #e0e0e0;
  cursor: pointer;
   border-radius: 5px;
}

.custom-select .selected {
  padding: 15px 20px;
   border-radius: 5px;
  background:url('../img/select_down.png') no-repeat 94% center #fff;
  background-position-x:right 20px;
  background-size:10px 6px;
  color:#d2d2d2;
  height:48px;
  display:flex;
  align-items:center;
}

.custom-select .select-options {
  position: absolute;
  width:calc(100% + 2px);
  top: calc(100% - 2px);
  left: -1px;
  right: 0;
  border: 1px solid #e0e0e0;
  border-top: none;
  background: #fff;
  display: none;
  z-index: 10;
  border-top:1px solid #e0e0e0;

}

.custom-select .select-options li {
  padding: 15px 20px;
  border-bottom:1px solid #e0e0e0;
}
.custom-select .select-options li:last-child{
	border-bottom:0;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	overflow:hidden;
}

.custom-select .select-options li:hover {
  background: #f0f0f0;
}


.custom-select .selected.active{
	color:#222;
}

.custom-select.large{
	border-radius:10px;
}
.custom-select.large  .selected{
	height:70px;
	font-size:18px;
	border-radius:10px;
}
.custom-select.large .select-options li{
	height:70px;
	display:flex;
	align-items:center;
}

body.active{
	overflow:hidden;
}

div:after,
section:after,
ul:after{
	content:'';
	display:block;
	clear:both;
}

a{
	text-decoration:none;
}

li{
	list-style:none;
}

.bg-white{
	background-color:#fff!important;
}

strong{
	font-weight:700;
}

.pl2{
	padding-left:2px;
}
.pl5{
	padding-left:5px;
}
.pl16{
	padding-left:16px;
}
.pl8{
	padding-left:8px;
}
.pl10{
	padding-left:10px;
}
.pl13{
	padding-left:13px;
}
.pl15{
	padding-left:15px;
}
.pl30{
	padding-left:30px;
}
.pl37{
	padding-left:37px;
}
.pl40{
	padding-left:40px;
}
.p30{
	padding:30px;
}
.pr2{
	padding-right:2px;
}
.pr5{
	padding-right:5px;
}
.pr10{
	padding-right:10px;
}
.pr12{
	padding-right:12px;
}
.pr30{
	padding-right:30px;
}

.mr0{
	margin-right:0!important;
}
.mr5{
	margin-right:5px!important;
}
.mr10{
	margin-right:10px!important;
}

.ml0{
	margin-left:0px!important;
}
.ml5{
	margin-left:5px;
}
.ml20{
	margin-left:20px;
}

.mt0{
	margin-top:0!important;
}
.mt5{
	margin-top:5px!important;
}
.mt10{
	margin-top:10px;
}
.mt14{
	margin-top:14px!important;
}
.mt15{
	margin-top:15px;
}
.mt20{
	margin-top:20px;
}
.mt24{
	margin-top:24px;
}
.mt30{
	margin-top:30px;
}
.mt35{
	margin-top:35px;
}
.mt40{
	margin-top:40px;
}
.mt50{
	margin-top:50px;
}
.mt60{
	margin-top:60px;
}
.mb0,
.field.mb0{
	margin-bottom:0px!important;
}
.mb10{
	margin-bottom:10px!important;
}
.mb15{
	margin-bottom:15px!important;
}
.mb20{
	margin-bottom:20px!important;
}
.mb24{
	margin-bottom:24px!important;
}
.mb30{
	margin-bottom:30px!important;
}
.mb35{
	margin-bottom:35px!important;
}
.mb50{
	margin-bottom:50px;
}

.fw600{
	font-weight:600!important;
}
.fw500{
	font-weight:500!important;
}
.fw400{
	font-weight:400!important;
}

.fs12{
	font-size:12px;
}
.fs13{
	font-size:13px!important;
}
.fs14{
	font-size:14px;
}
.fs15{
	font-size:15px!important;
}
.fs16{
	font-size:16px;
}
.fs18{
	font-size:18px;
}
.fs20{
	font-size:20px;
}
.fs22{
	font-size:22px!important;
}
.fs30{
	font-size:30px!important;
}

.ls0{
	letter-spacing:0!important;
}

.lh16{
	line-height:1.6;
}
.lh18{
	line-height:1.8;
}

.underline{
	text-decoration:underline;
}

.color-purple{
	color:#615496!important;
}
.color-gray300{
	color:var(--color-gray300)!important;
}
.color-gray400{
	color:var(--color-gray400)!important;
}
.color-gray600{
	color:var(--color-gray600)!important;
}
.color-gray700{
	color:var(--color-gray700)!important;
}
.color-gray800{
	color:var(--color-gray800)!important;
}
.color-gray900{
	color:var(--color-gray900)!important;
}
.color-blue{
	color:var(--color-blue)!important;
}
.color-active{
	color:var(--color-active)!important;
}

.color-a6{
	color:#a6a6a6;
}
.color-8{
	color:#888;
}
.color-2{
	color:#222;
}
.color-5{
	color:#555!important;
}
.color-6{
	color:#666!important;
}
.color-60{
	color:#606060;
}
.color-red,
.color-danger{
	color:#FF3333;
}
.color-pink{
	color:#FF6874!important;
}
.color-green{
	color:#449922!important;
}

/*
	Align
*/
.text-left,
.align-left{
	text-align:left;
}
.text-center,
.align-center{
	text-align:center!important;
}

.underline{
	text-decoration:underline;
}

.title{
	font-weight:700;
	font-size:36px;
	line-height:1.5;
	color:#222;
	margin:0;
}
.title2{
	font-weight:500;
	font-size:30px;
	line-height:1.5;
	color:#222;
	margin:0;
}

.tt{
	font-weight:800;
	font-size:20px;
	color:#333D4B;
}
.tt small,
.tt2 small{
	color:var(--color-gray200);
	font-size:18px;
	font-weight:normal;
	padding-left:10px;
}
.tt2{
	font-weight:600;
	font-size:24px;
}

.tt3{
	font-size:18px;
	color:var(--color-gray900);
	font-weight:500;
}


.ratio2-8{
	display:flex;
}
.ratio2-8 > *{
	flex:0 1 auto;
}
.ratio2-8 .btn{
	width:100%!important;
}
.ratio2-8 > *:first-child{
	width:20%!important;
}
.ratio2-8 > *:last-child{
	width:80%!important;
}

.ratio3-7{
	display:flex;
}
.ratio3-7 > *{
	flex:0 1 auto;
}
.ratio3-7 .btn{
	width:100%!important;
}
.ratio3-7 > *:first-child{
	width:20%!important;
}
.ratio3-7 > *:last-child{
	width:80%!important;
	margin-left:10px;
}

.ratio5-5{
	display:flex;
}
.ratio5-5 > *{
	flex:1 1 auto;
	width:100%!important;
}

/*
	list - qa
*/
.list-qa{
	margin-bottom:35px;
}
.list-qa > li{
	display:flex;
	justify-content:space-between;
	padding-bottom:20px;
}
.list-qa > li:last-child{
	padding-bottom:0;
}
.list-qa > li .q,
.list-qa > li .a{
	font-weight:400;
	font-size:15px;
	color:#595959;
}



hr{
	border:0;
	margin:0;
	padding:0!important;
	height:80px;
}
.hr-clear{
	clear:both;
	margin:0;
	padding:0;
	border:0;
	height:1px;
}
.hr-32{
	border:0;
	margin:32px 0;
}
.hr-24{
	border:0;
	margin:24px 0;
}
.hr-20{
	border:0;
	margin:20px 0;
}
.hr-bold-line{
	height:2px;
	background-color:#191919;
}
.hr-light-line{
	height:1px;
	background-color:var(--color-bordered);
}
.hide,
.hidden,
.flex.hidden{
	display:none!important;
}
.fluid{
	width:100%;
	object-fit:cover;
}

/*
	Input
*/
input[type="text"],
input[type="password"],
input[type="file"],
input[type="number"]{
	border:1px solid #E0E0E0;
	height:48px;
	display:flex;
	align-items:center;
	font-size:15px;
	font-weight:500;
	color:#404040;
	width:100%;
	border-radius:5px;
	padding:15px 20px;
}

input[readonly="readonly"]{
	background-color:#E7E7E7;
	border:1px solid #e0e0e0;
	color:#404040;
	cursor:not-allowed;
}

input.input-large{
	height:70px;
	font-weight:500;
	font-size:18px;
	border:1px solid #ebebeb;
	background-color:#fafafa;
	border-radius:10px;
	padding:24px 30px;
}

.inline-flex{
	display:flex;
}

.input-group-radio input[type="radio"]{
	border-radius:50%;
	width:16px;
	height:16px;
	background-color:#fff;
	border:2px solid #CDCDCD;
}
.input-group-radio input[type="radio"]:checked{
	border-color:#A8F02B;
	border-width:3px;
}
.input-group-radio input[type="radio"] + label + input{
	margin-left:16px;
}

/*
	input group pin
*/
.input-group-pin{
	display:flex;
}
.input-group-pin span{
	min-width:100px;
	margin-left:10px;
}
.input-group-pin span button{
	font-size:13px;
	color:#000;
	white-space:nowrap;
	border-radius:0;
	height:50px;
}
.input-group-pin span button i{
	padding-right:5px;
}
.input-group-pin span button.active{
	color:var(--color-orange);
	border-color:var(--color-orange);
}

/*
	inpug group Search
*/
.input-group-search{
	display:inline-flex;
	align-items:center;
}
.input-group-search input{
	border:0!important;
	background-color:#fff!important;
	height:30px;
	padding:6px;
	min-width:155px;
	padding-right:0;
}
.input-group-search input::placeholder{
	color:var(--color-gray300);
}


/*
	Input Group Data
*/
.input-date-group{
	display:inline-flex;
	align-items:center;
}
.input-date-group i{
	color:#828282;
	font-size:1.2rem;
	margin-right:.5rem;
}
.input-date-group input{
	border:0!important;
	background-color:#fff!important;
	width:90px;
	padding:.5rem .1rem;
}
.input-date-group span{
	text-align:center;
	width:20px;
}

/* Input Group */
.input-group{
	display:flex;
	align-items:center;
	height:70px;
	padding:24px 30px;
	font-weight:500;
	font-size:18px;
	border:1px solid #ebebeb;
	background-color:#fff;
	border-radius:10px;
	justify-content:space-between;

}
.input-group button{
	white-space:nowrap;
	font-size:15px;
	font-weight:400;
}

.input-group input,
.input-group select{
	border:0;
	height:100%;
	padding:0;
}
.input-group label{
	font-size:18px;
	white-space:nowrap;
	margin:0!important;
	cursor:pointer;
}

.input-group2{
	display:flex;
	border:1px solid #E0E0E0;
	height:48px;
	display:flex;
	align-items:center;
	font-size:15px;
	font-weight:500;
	color:#404040;
	width:100%;
	border-radius:5px;
	overflow:hidden;
	padding-right:20px;
}
.input-group2 input{
	border:0;
	padding:15px 20px;
}
.input-group2 span,
.input-group2 button{
	white-space:nowrap;
}
.input-group2 input[readonly] + span,
.input-group2 input[readonly] + button{
	background-color:#EFEFEF;
}

.input-group3{
	display:flex;
	border:1px solid #E0E0E0;
	height:50px;
	display:flex;
	align-items:center;
	font-size:15px;
	font-weight:500;
	color:#404040;
	width:100%;
	border-radius:5px;
	overflow:hidden;
	padding-right:20px;
}
.input-group3 > span,
.input-group3 > button{
	padding-left:20px;
	white-space:nowrap;
}
.input-group3 input{
	border:0;
	padding:15px 20px;
}

.input-group4{
	border: 1px solid #E0E0E0;
	height: 48px;
	display: flex;
	align-items: center;
	font-size: 15px;
	font-weight: 500;
	color: #404040;
	width: 100%;
	border-radius: 5px;
	padding: 15px 20px;
	background-color:#E7E7E7;
	opacity:.66;
	padding-left:0;
}
.input-group4 input{
	background-color:transparent;
	border:0;
	padding:0;
	height:auto;
	padding-left:20px;
	width:100%;
	color:#222;
}
.input-group4 input + span{

}

/*
	input-group-check
*/
.input-group-check{
	display:flex;
	align-items:center;
}
.input-group-check label,
.input-group-check input{
	margin-bottom:0!important;
}
.input-group-check input[type="checkbox"]{
	width:21.5px;
	height:21.5px;
	border-radius:5px;
}
.input-group-check input[type="checkbox"]:checked{
	background-image:url('../img/ico_check.png');
	background-position:center center;
	background-repeat:no-repeat;
	background-size:15px;
}
.input-group-check label{
	margin-left:5px;
	font-size:16px;
}

/*
	input group side
*/
.input-group-side{
	display:flex;
	justify-content:space-between;
	height:48px;
	font-size:18px;
	border-radius:10px;
	font-weight:500;
	border:1px solid #E0E0E0;
	align-items:center;
	padding:15px 20px;
	background-color:#fff;
}
.input-group-side input,
.input-group-side select{
	height:100%;
	border:0;
	padding:0;
	background-color:transparent;
}
.input-group-side input[type="file"]{
	display:none;
}
.input-group-side span{
	flex:0;
	transition:.3s;
}
.input-group-side span i{
	color:#B9B9B9;
	font-size:1rem;
}
.input-group-side span:hover i{
	color:#121212;
}
.input-group-side span i.bi-eye-slash{
	color:#121212;
}

.input-group-side .btn{
	white-space:nowrap;
	height:50%!important;
	padding:10px;
}

/*
	input group file
*/
.input-group-file{
	display:flex;
	justify-content:space-between;
	height:48px;
	font-size:18px;
	border-radius:10px;
	font-weight:500;
	border:1px solid #E0E0E0;
	align-items:center;
	padding:15px 20px;
	background-color:#fff;
	position:relative;
}
.input-group-file input{
	border:0;
	background-color:transparent;
	padding:0;
}
.input-group-file input[type="file"]{
	display:none;
}
.input-group-file span{
	position:absolute;
	right:2rem;
	transform:translateY(15%);
	cursor:pointer;
	z-index:10;
}
.input-group-file span i{
	color:var(--color-green);
	font-weight:bold;
}

/*
	Input Group :: Email
*/
.input-group-email{
	display:flex;
	align-items:center;
}
.input-group-email > *{
	flex:0 1 auto;
}
.input-group-email > input:first-child{
	width:100%;
}
.input-group-email > span{
	width:100px;
	text-align:center;
}
.input-group-email > input:last-child{
	width:60%;
}

.field.large [class*=input-group] + [class*=input-group]{
	margin-top:10px;
}
.field.large label{
	font-size:20px;
	font-weight:600;
}

/*
	input group checkbox
*/
.input-group-checkbox{
	height:40px;
	border:1px solid #595E62;
	background-color:#fff;
	display:inline-flex;
	align-items:center;
	padding:10px;
	white-space:nowrap;
}
.input-group-checkbox input[type="checkbox"],
.input-group-checkbox input[type="radio"]{
	width:1rem;
	height:1rem;
	background-color:#D5D5D5;
	border-radius:4px;
	position:relative;
}
.input-group-checkbox input[type="checkbox"] + label,
.input-group-checkbox input[type="radio"] + label{
	padding-left:.5rem;
}
.input-group-checkbox input[type="checkbox"]:checked::before,
.input-group-checkbox input[checked="checked"]::before,
.input-group-checkbox input[type="radio"]:checked::before,
.input-group-checkbox input[checked="checked"]::before{
	content: "\f633";
    font-family: "bootstrap-icons";
    font-style: normal;
    font-weight: normal;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

/*
	Input group :: 여러개 혼합
*/
.input-group-column{
	display:flex;
}
.input-group-column > .col{
	flex:0 1 auto;
	padding-right:5px;
}
.input-group-column input[type="text"],
.input-group-column select{
	border:1px solid #595E62;
	background-color:#fff!important;
	border-radius:0;
	height:40px;
	padding-top:0;
	padding-bottom:0;
	padding-left:10px;
	padding-right:10px;
}



.field.large .input-group-side,
.field.large .input-group-file{
	height:67px;
}
.input-group-side input[type="file"] + span{
	height:67px;
}

.fake_file_input::placeholder{
	color:var(--color-green);
	text-decoration:underline;
}

/*
	Panel
*/
.panel{
	background-color:#F5F6F6;
	border:1px solid #CFD2D3;
	padding:28px;
	border-radius:.7rem;
}
.panel .panel__head{
	padding-bottom:25px;
}
.panel .panel-title{
	font-size:20px;
	color:var(--color-gray800);
	font-weight:500;
}
.panel .list-qa{
	margin-bottom:0;
}
.panel .list-qa > li{
	padding:0;
	border-bottom:1px solid #d9d9d9;
	padding:15px 0;
}
.panel .list-qa > li:last-child{
	border-bottom:0;
	padding-bottom:0;
}
.panel .list-qa > li .q{
	font-size:14px;
	color:var(--color-gray400);
}
.panel .list-qa > li .a{
	font-weight:500;
	font-size:16px;
}
.panel + .panel{
	margin-top:22px;
}
.panel img{
	max-width:100%;
}

/*
	radio - btn
*/
.radio-btn input{
	display:none;
}
.radio-btn{
	display:flex;
	margin-left:-5px;
}
.radio-btn label{
	margin-left:5px;
	cursor:pointer;
	flex:1 1 auto;
	display:inline-flex;
	justify-content:center;
	padding:15px;
	text-align:center;
	border-radius:10px;
	background-color:#f8f8f8;
	color:#222;
	font-weight:500;
	transition:.3s;
}
.radio-btn label:hover{
	background-color:#f1f1f1;
}
.radio-btn input:checked + label{
	background-color:#D7E5FF;
}

/*
	Height
*/
.h32{
	height:32px!important;
}
.select{
	height:34px!important;
	background-color:#fff;
	border:1px solid #606060;
	color:#333!important;
	padding:0 10px;
	font-size:13px;
}
.select.active{
	background-color:var(--color-orange);
	background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 9L12 16L19 9"/></svg>');
	color:#fff!important;
}
.select.success{
	background-color:#FAFAFA;
}
.outline-orange{
	border:2px solid #F04D2B;
	overflow:hidden;
}
.outline-orange table{
	border:0;
}
.outline-orange table th{
	border-top:0;
}
.outline-orange table tbody tr:last-child{
	border-bottom:0;
}

.outline-black{
	border:2px solid var(--color-gray900);
	overflow:hidden;
}
.outline-black table{
	border:0;
}
.outline-black table th{
	border-top:0;
}
.outline-black table tbody tr:last-child{
	border-bottom:0;
}

/*
	Dropdown
*/
.dropdown{
	position:relative;
}
.dropdown button{
	font-size:1rem;
}
.dropdown .dropdown-content{
	display:none;
}

/*
	Button
*/
.btn{
	display:inline-flex;
	align-items:center;
	text-align:center;
	height:58px;
	min-width:86px;
	border:1px solid #f8f8f8;
	background-color:#f8f8f8;
	font-size:15px;
	color:#333D4B;
	justify-content:center;
	border-radius:5px;
	padding:20px 20px;
}
.btn.btn-primary{
	background-color:var(--color-primary);
	border-color:var(--color-primary);
	color:#fff;
}
.btn.btn-purple{
	background-color:#615496!important;
	border-color:#615496!important;
	color:#fff;
}
.btn.btn-orange{
	background-color:var(--color-orange)!important;
	border-color:var(--color-orange)!important;
	color:#fff;
}
.btn.btn-orange.--outline{
	border:1px solid var(--color-gray700)!important;
}
.btn.btn-green{
	background-color:var(--color-green2);
	border-color:var(--color-green2);
	color:#fff;
}
.btn.btn-brown{
	background-color:#551619;
	border-color:#551619;
	color:#fff;
}
.btn.btn-gray{
	background-color:#E0E0E0;
	border-color:#E0E0E0;
}
.btn.btn-secondary{
	background-color:#FAFAFF;
	border-color:#d3d3d3;
	color:var(--color-primary);
}
.btn.btn-danger{
	background-color:#FFE0E0;
	color:#FF3333;
}
.btn.btn-dark{
	background-color:#555555!important;
	color:#fff!important;
}
.btn.btn-black{
	color:#fff;
	background-color:#333;
}
.btn.btn-fluid{
	width:100%;
}

.btn.btn-fluid + .btn.btn-fluid{
	margin-top:10px;
}

.btn.btn-gray2{
	color:#989898;
	background-color:#F5F5F5;
}

.btn.btn-small{
	height:32px;
	padding:8px 10px;
	font-size:13px;
	border-radius:2px;
}

.btn[disabled="disabled"],
.btn:disabled{
	background-color:#333;
	opacity:.2;
	color:#fff;
	cursor:not-allowed;
}
.btn.btn-medium{
	height:42px!important;
	font-size:15px!important;
	border-radius:10px!important;
}
.btn.btn-medium.radius-5{
	border-radius:5px!important;
}
.btn.btn-large{
	height:61px!important;
	font-size:18px!important;
	border-radius:10px!important;
}
.btn.btn-big{
	height:94px;
	font-weight:700;
	font-size:20px;
	width:100%;
}
.btn.btn-primary[disabled="disabled"],
.btn.btn-primary:disabled{
	opacity:.5;
	background-color:var(--color-primary);
	border-color:var(--color-primary);
}
.btn.btn-orange[disabled="disabled"],
.btn.btn-orange:disabled{
	opacity:.35;
	background-color:var(--color-orange);
	border-color:var(--color-orange);
}

/*
	Field
*/
.field{
	margin-bottom:24px;
}
.field label{
	display:block;
	font-size:16px;
	color:var(--color-gray600);
	font-weight:500;
	margin-bottom:15px;
}
.field .btn{
	height:48px;
	font-size:15px;
}

.field[class*=column-]{
	margin-left:-25px;
	display:flex;
	justify-content:space-between;
}
.field[class*=column-] .col{
	padding-left:25px;
}

.field.grid{
	margin-left:-25px;
}
.field.grid > [class*=grid__]{
	padding-left:25px;
}

.field.large input,
.field.large select{
	height:67px;
	font-size:18px;
	border-radius:10px;
}
.field.large .btn{
	height:58px;
}

/*
	Modal
*/
#modal{
	position:fixed;
	left:0;
	top:0;
	display:block;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.5);
	overflow-x:hidden;
	overflow-y:auto;
	display:flex;
	align-items:center;
	justify-content:center;
	opacity:0;
	visibility:hidden;
	z-index:-1;
	transition:.3s;
}
	#modal-content{
		background-color:#fff;
		min-width:381px;
		margin:0 auto;
		border-radius:30px;
		position:relative;
		overflow-y:auto;
		transition:.3s;
	}
#modal.active{
	opacity:1;
	visibility:visible;
	z-index:9999;
}
#modal.active #modal-content{
	top:0;
	transition:.3s;
}

.modal{
	position:relative;
	padding:30px;
	background-color:#fff;
	border-radius:1rem;
	width:775px;
}
.modal .modal__head{
	display:flex;
	justify-content:space-between;
	position:relative;
	align-items:center;
	flex-wrap:wrap;
}
.modal .modal-title{
	font-weight:700;
	font-size:22px;
	flex:1;
	display:flex;
	flex-wrap:wrap;
	color:var(--color-gray600);
}
.modal .modal-title small{
	margin-top:12px;
	color:#222;
	font-weight:500;
	font-size:14px;
	width:100%;
}
.modal .modal-title span{
	color:#666666;
	font-size:20px;
	font-weight:700;
	padding-left:10px;
	position:relative;
	top:1px;
}
.modal .modal-title p{
	display:block;
	clear:both;
	color:#A6A6A6;
	font-weight:500;
	font-size:15px;
	margin-top:15px;
}
.modal .modal-close{
	background:url('../img/ico_close.png') no-repeat center center;
	background-size:24px;
	display:inline-block;
	padding:1rem;
	border:0;
	text-indent:-1000em;
	flex:0;
	width:48px;
	height:48px;
}
.modal .modal__body{
	padding:35px 0;
	padding-bottom:0;
}
.modal .modal-action{
	text-align:right;
}
.modal .modal-action .btn.btn-primary{
	width:131px;
}
.modal .modal-action .btn + .btn{
	margin-left:10px;
}
.modal.size-1{
	width:381px;
}
.modal.size-2{
	width:407px;
}
.modal.size-3{
	width:479px;
}
.modal.size-5{
	width:500px;
}
.modal.size-6{
	width:520px;
}
.modal.size-7{
	width:715px;
}
.modal.size-8{
	width:888px;
}
.size-10{
	width:1248px;
}

.modal .action{
	margin-bottom:0!important;
}

/*
	align center
*/
.ac{
	display:inline-flex;
	align-items:center;
}

/*
	in modal
*/
#in-modal{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	transition:.3s;
	opacity:0;
	visibility:hidden;
	z-index:-1;
}
#in-modal.active{
	opacity:1;
	visibility:visible;
	z-index:1001;
}
#in-modal.active::before{
	content:'';
	background-color:rgba(0,0,0,.5);
	z-index:1001;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
	#in-modal-content{
		padding:40px;
		background-color:#fff;
		border-radius:30px;
		position:relative;
		z-index:1002;
		width:394px;
		margin:0 auto;
	}
		.in-modal-title{
			font-weight:700;
			font-size:22px;
			color:#222;
			display:block;
			margin-bottom:35px;
		}
		#in-modal-content p{
			line-height:1.6;
			font-weight:500;
			font-size:17px;
			color:#222;
			letter-spacing:-2%;
		}
		.in-modal-button{
			display:flex;
			align-items:center;
			margin-top:35px;
		}
		.in-modal-button .btn{
			height:42px;
			font-size:15px;
		}
		.in-modal-button .btn:first-child{
			width:106px;
		}
		.in-modal-button .btn:last-child{
			width:198px;
			margin-left:10px;
		}


dl{
	display:inline-flex;
	align-items:center;
	font-weight:600;
	margin-right:15px;
}
dl dt{
	color:#666;
}
dl dd{
	color:#222;
	padding-left:5px;
}

button{
	cursor:pointer;
}


/*
	Box
*/
.box{
	padding:20px 21px;
	border-radius:10px;
	background-color:#F3F3F3;
	border:2px solid transparent;
}
.box.active{
	border-color:var(--color-orange);
}
.box .box__head{
	display:flex;
	align-items:center;
}
.box .box__head > *{
	width:100%;
	flex:1 1 auto;
	white-space:nowrap;
}
.box .box__head > *:not(:first-child):last-child{
	text-align:right;
	display:flex;
	justify-content:flex-end;
	align-items:center;
	line-height:1;
}
.box .box__head > *:last-child *{
	display:flex;
	align-items:center;
}
.box .box-title{
	color:#000;
	font-size:20px;
	font-weight:500;
	display:inline-flex;
	align-items:center;
}
.box .box-title span{
	margin-left:10px;
}
.box .box__body{
	padding-top:30px;
}

.box .arrow{
	display:none;
}
.box.toggle .box__head .arrow{
	background:url('../img/ico_arrow_up2.png') no-repeat center center;
	background-size:15px 9px;
	padding:.5rem;
	display:inline-block;
	text-indent:-1000em;
	font-size:0;
	overflow:hidden;
}
.box.toggle.closed .box__head .arrow{
	background-image:url('../img/ico_arrow_down2.png')
}
.box.toggle.closed .box__body{
	display:none;
}

.box.--primary{
	background-color:var(--color-primary);
	color:#fff;
}
.box.--primary .flex .flex__col:first-child{
	color:#7991D9;
}
.box.--primary .flex .flex__col:last-child strong{
	font-size:20px;
	color:#fff;
	font-weight:600;
}

.box.--green{
	background-color:var(--color-green);
	color:#fff;
}
.box.--green .flex .flex__col:first-child{
	color:#B0CE7A;
}
.box.--green .flex .flex__col:last-child strong{
	font-size:20px;
	color:#fff;
	font-weight:600;
}

/*
	Table
*/
caption{
	display:none!important;
}
.table{
	border-collapse:collapse;
	width:100%;
	table-layout:fixed;
}
.table th,
.table td{
	vertical-align:middle;
	font-size:14px;
	letter-spacing:-2%;
	border-right:1px solid #cecece;
}
.table th{
	white-space:nowrap;
}
.table td{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.table td.no-ellipsis{
	overflow: visible;
  text-overflow: clip;
  white-space: normal;
}
.table.no-white-space th,
.table.no-white-space td{
	white-space:normal;
}
.table thead tr{
	background-color:#F5F5F5;
	border-top:1px solid #CECECE;
	border-bottom:1px solid #CECECE;
}
.table thead tr th{
	color:#888;
	text-align:left;
	font-size:13px;
	padding:10px;
}
.table tbody tr td{
	padding:10px;
}
.table tbody tr{
	border-bottom:1px solid #dadada;
}
.table tr.tr-today{
	background-color:#FFFFF3;
}
.table tr.tr-tomorrow{
	background-color:#F9FAFF;
}
.table tr.tr-today .btn:not(.btn-primary):not(.btn-secondary):not(.btn-danger){
	background-color:#fff;
}
.table tr.tr-tomorrow .btn:not(.btn-primary):not(.btn-secondary):not(.btn-danger){
	background-color:#fff;
}

.table tr.tr-primary{
	background-color:#F8F8FF;
}
.table tr.tr-warning{
	background-color:#FFF8F8;
}
.table tr.tr-yellow{
	background-color:#FFFFF8;
}

.table img{
	vertical-align:middle;
}

.table td.ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 350px;
}

.table.style2 thead tr{
	border-top:0!important;
	background-color:#F5F5F5;
}
.table.style2 th{
	font-size:13px;
	border-color:#CECECE;
}
.table.style2 td{
	border-color:#CECECE;
	color:var(--color-gray700);
}
.table.style2 th:last-child,
.table.style2 td:last-child{
	border-right:0;
}



.table.table-data{
	border-top:1px solid #dadada;
}
.table.table-data tbody th,
.table.table-data tbody td{
	padding:20px 30px;
}
.table.table-data tbody th{
	background-color:#F0F0F0;
	min-width:180px;
	max-width:180px;
	width:180px;
	text-align:left;
}
.table.table-data tbody td:first-child{
	width:300px;
	min-width:300px;
	max-width:300px;
}

.table.table-boxy{
	border:1px solid #dadada;
	border-radius:10px;
	overflow: hidden;
	  border-collapse: separate;
	  border-spacing: 0;
}
.table.table-boxy th{
	padding:15px 30px;
}
.table.table-boxy td{
	padding:20px 30px;
}
.table.table-boxy thead tr th{
	border-bottom:1px solid #dadada;
}
.table.table-boxy tbody tr td{
	border-bottom:1px solid #dadada;
}
.table.table-boxy tbody tr:last-child td{
	border-bottom:0;
}

.table .required{
	text-indent:-1000em;
	margin-left:8px;
	background-color:var(--color-orange);
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	vertical-align:middle;
	position:relative;
	top:-2px;
}

.table.table-data.table-small th,
.table.table-data.table-small td{
	padding:18px 30px;
}

/*
	table data STYLE2
*/
.table-data.style2{
	border:0;
	border-top:1px solid #CECECE;
}
.table-data.style2 th{
	background-color:#F5F5F5;
	min-width:100px;
	color:#888;
	font-size:13px;
	white-space:nowrap;
}
.table-data.style2 th,
.table-data.style2 td{
	border-color:#CECECE;
	height:50px;
	padding:0 16px;
	font-size:15px;
}
.table-data.style2 *{
	font-size:15px;
}

/*
	table data STYLE2-1
*/
.table-data.style2-1{
	border:0;
	border-top:1px solid #CECECE;
	table-layout:fixed;
}
.table-data.style2-1 th{
	background-color:#F5F5F5;
	min-width:90px;
	max-width:90px;
	color:#888;
	font-size:13px;
	white-space:nowrap;
}
.table-data.style2-1 th,
.table-data.style2-1 td{
	border-color:#CECECE;
	height:43px;
	padding:0 16px;
	font-size:14px;
}
.table-data.style2-1 th{
	font-size:13px;
}
.table-data.style2-1 *{
	font-size:14px;
}

/*
	tale data STYLE3
*/
.table-data.style3{
	border:0;
}
.table-data.style3 th{
	background-color:#F5F5F5;
	font-size:13px;
	padding:12px 10px;
	color:#888;
}
.table-data.style3 td{
	font-size:14px;
}
.table-data.style3 td:first-child{
	font-weight:500;
}
.table-data.style3 th button{
	font-size:13px;
	color:#888;
}
.table-data.style3 th,
.table-data.style3 td{
	border-right:1px solid #CECECE;
}

/*
	table data STYLE4
*/
.table-data.style4{
	border:1px solid #121212;
}
.table-data.style4 th{
	font-size:14px;
	color:#888;
	background-color:#F5F5F5;
	min-width:100px;
	max-width:100px;
}
.table-data.style4 tr:last-child{
	border-bottom:0;
}
.table-data.style4 th,
.table-data.style4 td{
	padding:2px;
	height:50px;
}
.table-data.style4 th{
	padding-left:10px;
	padding-right:10px;
}
.table-data.style4 td input::placeholder{
	color:#BEBEBE;
}

/*
	table data STYLE5
*/
.table-data.style5{
	border:0;
	border-top:1px solid #CECECE;
	border-bottom:1px solid #CECECE;
}
.table-data.style5 th{
	font-size:14px;
	color:#888;
	background-color:#F5F5F5;
	min-width:100px;
	max-width:100px;
	border-right:0;
}
.table-data.style5 tr:last-child{
	border-bottom:0;
}
.table-data.style5 th,
.table-data.style5 td{
	padding:2px;
	height:50px;
}
.table-data.style5 th,
.table-data.style5 td{
	padding-left:10px;
	padding-right:10px;
}
.table-data.style5 td input::placeholder{
	color:#BEBEBE;
}

/*
	table-data STYLE 6
*/
.table-data.style6{
	border:0;
	border-top:1px solid #CECECE;
	border-bottom:1px solid #CECECE;
}
.table-data.style6 tr{
	border-bottom:0;
}
.table-data.style6 th,
.table-data.style6 td{
	padding:10px;
}
.table-data.style6 tr + tr td{
	padding-top:0px;
}
.table-data.style6 th{
	background-color:#F5F5F5;
	font-size:13px;
	color:#888;
	min-width:130px;
}
.table-data.style6 td input[type="text"]{
	border:0;
	background-color:#F5F5F5;
	color:var(--color-gray800);
	height:50px;
}
.table-data.style6 td input[type="text"]::placeholder{
	color:var(--color-gray200);
}


/*
	table-data STYLE 7
*/
.table-data.style7{
	border:1px solid #CECECE;
}
.table-data.style7 tr{
	border-bottom:0;
}
.table-data.style7 th,
.table-data.style7 td{
	padding:10px;
}
.table-data.style7 th{
	background-color:#F5F5F5;
	font-size:13px;
	color:#888;
	min-width:130px;
}
.table-data.style7 td input[type="text"]{
	border:0;
	background-color:#F5F5F5;
	color:var(--color-gray800);
	height:50px;
}
.table-data.style7 td input[type="text"]::placeholder{
	color:var(--color-gray200);
}
.table-data.style7 td .btn-del{
	height:50px;
	background-color:#F9F9F9;
	color:#333;
	font-size:13px;
	min-width:60px;
	width:100%;
	height:50px;
}
.table-data.style7 td:last-child{
	padding-left:0;
}
.table-data.style7 td input[type="file"]{
	display:none;
}

.table-data.--small td,
.table-data.--small td label{
	font-size:15px!important;
	color:#444!important;
}


/*
	table  STYLE6
*/
.table.style6{
	border:0;
}
.table.style6 thead tr{
	border:0;
}
.table.style6 thead tr th{
	height:50px;
	font-size:13px;
}
.table.style6 th,
.table.style6 td{
	border-color:#CECECE;
}
.table.style6 th:last-child,
.table.style6 td:last-child{
	border-right:0;
}
.table.style6 td{
	color:var(--color-gray700);
	height:45px;
	padding-left:13px;
	padding-right:13px;
}
.table.style6 .btn{
	border:1px solid #222;
	height:30px;
	border-radius:3px;
	color:#222;
	width:100%;
	background:url('../img/ico_print.png') no-repeat 85% center #F9F9F9;
	background-size:14px;
	text-align:left;
	justify-content:flex-start;
}

/*
	Default Table
*/
.table-default{
	border-collapse:collapse;
	width:100%;
	border-top:1px solid #152C70;
}
.table-default thead{
	background-color:#F5F5F5;
}
.table-default th{
	font-size:13px;
	color:#888;
	padding:17px 10px;
	text-align:left;
}
.table-default th,
.table-default td{
	white-space:nowrap;
}
.table-default tbody tr{
	border-bottom:1px solid #CECECE;
}
.table-default td{
	padding:25.5px 10px;
}
.table-default td a{
	color:var(--color-gray900);
	text-decoration:underline;
}
.table-default td a:hover{
	text-decoration:none;
}

/*
	Data Table
*/
.table-data{
	border-collapse:collapse;
	width:100%;
	border:1px solid #C2C5C6;
}
.table-data th{
	background-color:#EAEAEA;
	text-align:left;
	min-width:140px;
}
.table-data th,
.table-data td{
	padding:11px 12px;
}
.table-data tr{
	border-bottom:1px solid #C2C5C6;
}
.table-data em{
	color:var(--color-orange);
}

.table-data.collapse th,
.table-data.collapse td{
	padding:7px;
}

.table-data input[type="text"]{
	background-color:#F5F5F5;
	height:40px;
	border:1px solid #ccc;
	border-radius:0;
}
.table-data .input-group-file2,
.table-data .input-group-addr{
	border:0;
	padding:0;
	display:flex;
}
.table-data .input-group-file2 input[type="file"],
.table-data .input-group-addr input[type="file"]{
	display:none;
}
.table-data .input-group-file2 input[type="file"] + label,
.table-data .input-group-addr button{
	height:40px;
	border:1px solid #5A5E62;
	background-color:#fff;
	text-align:center;
	font-size:14px;
	font-weight:normal;
	display:inline-flex;
	align-items:center;
	justify-content:center;
	min-width:83px;
	margin-right:5px;
}
.table-data .input-group-addr button{
	min-width:68px;
}

.input-group-two{
	display:flex;
}
.input-group-two > *:last-child{
	margin-left:5px;
}

.input-group-balju{
	display:flex;
}
.input-group-balju span{
	width:209px;
	display:flex;
}
.input-group-balju span .btn{
	min-width:102px;
	font-size:14px;
	padding:11.5px 0px;
	height:40px;
	margin-left:5px;
	border-radius:0;
	background:url('../img/ico_link2.png') no-repeat 6px center;
	background-size:14px;
	background-color:#EBF0FF;
	padding-left:15px;
}
.input-group-balju span .btn:last-child{
	background-image:url('../img/ico_bonbu.png');
	background-size:15px;
	background-color:#FAFAFA;
	border-color:#E5E5E5;
}



/*
	table -- default
*/
.table.--default thead tr{
	background-color:#F5F5F5;
	border-top:0;
}
.table.--default th{
	font-size:13px;
	color:#888;
	height:50px;
	padding:10px;
}
.table.--default th:last-child,
.table.--default td:last-child{
	border-right:0;
}
.table.--default td{
	height:45px;
	font-size:14px;
	color:var(--color-gray700);
	padding:10px;
}
.table.--default .btn{
	background-color:#F5F5F5;
	color:var(--color-gray700);
}


/*
	Money Box
*/
.moneyBox{
	display:flex;
}
.moneyBox > *{
	flex:0 1 auto;
}
.moneyBox #price1-input,
.moneyBox #price2-input{
	min-width:130px;
	max-width:130px;
	margin-right:5px;
	margin-bottom:0;
	height:40px;
}
.moneyBox ul{
	margin-left:-5px;
	display:flex;
	justify-content:space-between;
	width:100%;
	align-items:center;
}
.moneyBox ul li{
	padding-left:5px;
	width:calc(100% / 8);
	position:relative;
	top:-2px;
}
.moneyBox ul li input{
	display:none;
}
.moneyBox ul li label{
	height:40px;
	border:1px solid #5A5E62;
	background-color:#fff;
	text-align:center;
	font-size:14px;
	font-weight:normal;
	display:inline-flex;
	align-items:center;
	justify-content:center;
	min-width:100%;
	cursor:pointer;
	padding-left:0;
}
.moneyBox ul li input:checked + label{
	background-color:var(--color-active);
	color:#fff;
}

/*
	checkbox Box
*/
.checkbox{

}
.checkbox ul{
	display:flex;
	flex-wrap:wrap;
	margin-left:-5px;
}
.checkbox ul > li{
	padding-left:5px;
	padding-bottom:5px;
	cursor:pointer;
	width:calc(100% / 7);
	font-size:14px;
	color:#313335;
	text-align:center;
	justify-content:center;
}
.checkbox ul > li:nth-child(n+8) {
	padding-bottom: 0;
}
.checkbox input{
	display:none;
}
.checkbox input + label{
	padding:11.5px 10.33px;
	background-color:#F5F5F5;
	display:inline-flex;
	align-items:center;
	width:100%;
	text-align:center;
	justify-content:center;
	cursor:pointer;
}
.checkbox input:checked + label{
	background-color:var(--color-active);
	color:#fff;
}
.checkbox.--expand ul{
	flex-wrap:wrap;
	margin-left:2px;
	display:flex;
}
.checkbox.--expand ul > li label{
	width:100%!important;
	padding:11.5px 19px;
	font-size:14px;
}

.checkbox.--expand ul > li{
	min-width:80px!important;
	width:80px!important;
	max-width:80px!important;
	padding-left:0;
	padding-bottom:0;
	flex:1 1 auto;

}
.checkbox.--expand ul > li:nth-child(8),
.checkbox.--expand ul > li:nth-child(16){
	min-width:48.3%!important;
	max-width:48.3%!important;
	width:100%!important;
	letter-spacing:-3%;
}
.checkbox.--expand ul > li:nth-child(even) label{
	background-color:#F2F2F2;
}
.checkbox.--expand ul > li:nth-child(even) input:checked + label{
	background-color:var(--color-active);
	color:#fff;
}

/*
	btn
*/

/*
	Table with Button
*/
.table .btn{
	min-width:43px;
	height:28px;
	display:inline-flex;
	text-align:center;
	justify-content:center;
	font-size:12px;
	font-weight:600;
	border-radius:7px;
	padding:6px 10px;
	border:0;
}
.table .btn[disabled="disabled"],
.table .btn:disabled{
	opacity:.2;
	cursor:not-allowed;
}

.table .btn.btn-primary{
	background-color:var(--color-primary);
	border-color:var(--color-primary);
	color:#fff;
}
.table .btn.btn-secondary{
	background-color:#F8F8F8;
}
.table .btn.btn-danger{
	color:#FF3333;
	background-color:#FFE0E0;
}

/*
	Pagination
*/
.pagination{
	text-align:right;
	margin-top:30px;
}
.pagination ol{
	display:inline-flex;
	align-items:center;
}
.pagination ol > li{
	margin-left:10px;
}
.pagination ol > li > a{
	display:flex;
	border-radius:5px;
	width:40px;
	height:40px;
	justify-content:center;
	align-items:center;
	background-color:#ededed;
	color:#fff;
	font-weight:700;
}
.pagination ol > li.active > a{
	background-color:#227EFF;
}

.pagination.green ol > li.active > a{
	background-color:var(--color-green);
}
.pagination.red ol > li.active > a{
	background-color:var(--color-red);
}
.pagination.black ol > li.active > a{
	background-color:var(--color-black);
}
.pagination.pink ol > li.active > a{
	background-color:var(--color-pink);
}



/*
	Flex
*/
.flex{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:100%;
}
.flex .flex__col{
	flex:1 1 auto;
	width:100%;
	white-space:nowrap;
}
.flex .flex__col:last-child{
	text-align:right;
	display:flex;
	justify-content:flex-end;
}

.inline-flex{
	display:inline-flex;
	align-items:center;
}
.inline-flex .flex__col:last-child{
	padding-left:20px;
}

.button.ico-link{
	position:relative;

}
.button.ico-link::after{
	content:'';
	background:url('../img/ico_link.png') no-repeat center center;
	background-size:100%;
	width:16px;
	height:16px;
	display:inline-block;
	position:absolute;
	right:-.5rem;
	top:50%;
	transform:translateY(-50%);
	display:none;
}

/*
	Toggle Switch
*/

.toggle-wrapper {
  position: relative;
  width: 71px;
  height: 40px;
  background: #5FF064; /* 초기값 초록색 */
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s;
}

.toggle-wrapper input[type="radio"] {
  display: none;
}

.toggle-slider {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  transition: left 0.3s;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

/* 라디오 상태에 따른 슬라이드 위치 */
#toggle-on:checked ~ .toggle-slider {
  left: 35px; /* ✅ ON → 오른쪽 */
}
#toggle-off:checked ~ .toggle-slider {
  left: 5px;  /* ✅ OFF → 왼쪽 */
}

/*
	List Column
*/
.list-column-3{
	display:flex;
	flex-wrap:wrap;
	margin-left:-50px;
}
.list-column-3 > li{
	width:33.3333%;
	padding-left:50px;
}

.list-column-4{
	display:flex;
	flex-wrap:wrap;
	margin-left:-10px;
	width:100%;
}
.list-column-4 > li{
	width:25%;
	padding-left:10px;
}

.list-column-3-small{
	display:flex;
	flex-wrap:wrap;
	margin-left:-15px;
}
.list-column-3-small > li{
	width:33.3333%;
	padding-left:15px;
}

.list-column-6{
	margin-left:-20px;
	display:flex;
	flex-wrap:wrap;
}
.list-column-6 > li{
	width:calc(100% / 6);
	padding-left:20px;
	padding-bottom:30px;
}
.list-column-6 > li:nth-last-child(-n + 6){
	padding-bottom:0;
}

/*
	item
*/
.item img{
	width:100%;
	display:block;
	line-height:1;
}
.item .item__body{
	padding-top:10px;
}

/*
	List
*/
.list-inline{
	display:flex;
	margin-left:-20px;
}
.list-inline > li{
	padding-left:20px;
}

/*
	Media
*/
.media{
	display:flex;
	align-items:center;
}
.media .media__head,
.media .media__body{
	flex:1 1 auto;
}
.media .media__head{

}
.media .media__body{
	white-space:nowrap;
	width:100%;
	padding-left:25px;
}

/*
	Grid
*/
.grid{
	margin-left:-50px;
	display:flex;
	flex-wrap:wrap;
}
.grid + .grid{
	margin-top:1rem;
}
.grid > [class*=grid__]{
	padding-left:50px;
	/*padding-bottom:1rem;*/
}
.grid > .grid__12{
	width:100%;
}
.grid > .grid__11{
	width:calc(8.333% * 11);
}
.grid > .grid__10{
	width:calc(8.333% * 10);
}
.grid > .grid__9{
	width:calc(8.333% * 9);
}
.grid > .grid__8{
	width:calc(8.333% * 8);
}
.grid > .grid__7{
	width:calc(8.333% * 7);
}
.grid > .grid__6{
	width:calc(8.333% * 6);
}
.grid > .grid__5{
	width:calc(8.333% * 5);
}
.grid > .grid__4{
	width:calc(8.333% * 4);
}
.grid > .grid__3{
	width:calc(8.333% * 3);
}
.grid > .grid__2{
	width:calc(8.333% * 2);
}
.grid > .grid__1{
	width:calc(8.333% * 1);
}

.grid.grid-15{
	margin-left:-15px;
}
.grid.grid-15 > [class*=grid__]{
	padding-left:15px;
}

.grid.grid-20{
	margin-left:-20px;
}
.grid.grid-20 > [class*=grid__]{
	padding-left:20px;
}

.grid.grid-35{
	margin-left:-35px;
}
.grid.grid-35 > [class*=grid__]{
	padding-left:35px;
}

.grid.grid-40{
	margin-left:-40px;
}
.grid.grid-40 > [class*=grid__]{
	padding-left:40px;
}

/*
	Alert
*/
.alert{
	background:url('../img/ico_siren2.png') no-repeat 30px center;
	background-size:30px;
	background-color:#222222;
	border:1px solid #EBEBEB;
	border-radius:15px;
	padding:20px 30px;
	padding-left:70px;
	font-size:19px;
	margin-bottom:50px;
}
.alert strong{
	color:#F04452;
}
.alert p{
	color:#fff;
	font-size:16px;
	font-weight:500;
	margin-left:10px;
	display:inline-block;
}
.alert span{
	color:#6C6C6C;
	font-size:16px;
	font-weight:500;
	margin-left:10px;
	display:inline-block;
}

.alert.warning{
	background-image:url('../img/ico_warning.png');
	background-size:40px;
	background-position-x: left 25px;
}

.alert.warning strong{
	color:#F2C331;
}

/*
	imgbox
*/
.imgbox{
	width: 300px;
  height: 300px;
  border: 2px dashed #444;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*
	Upload Box
*/
#uploadBox{
	display:flex;
	justify-content:center;
	align-items:center;
	background:url() no-repeat center center;
	border:1px solid #e7e7e7;
	height:234px;
	width:234px;
	border-radius:10px;
	position:relative;
	overflow:hidden;
}
#uploadBox input{
	display:none;
}
#uploadBox label{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	text-align:center;
}
#uploadBox label span{
	display:inline-flex;
	background:url('../img/ico_upload.png') no-repeat left center;
	background-size:12px;
	font-weight:600;
	font-size:13px;
	color:#222;
	padding:1rem;
	padding-left:20px;
	height:100%;
	align-items:center;
}
#uploadBox.uploaded label{
	position:absolute;
	top:auto;
	bottom:22px;
	left:50%;
	transform:translateX(-50%);
	display:inline-flex;
	text-align:center;
	width:auto;
	height:auto;
	justify-content:center;
}
#uploadBox.uploaded label span{
	border:1px solid #fff;
	background-position-x:25px;
	background-color:rgba(255,255,255,.7);
	width:163px;
	height:40px;
	border-radius:10px;
	text-align:center;
	display:inline-flex;
	align-items:center;
	justify-content:center;
}


.radius{
	border-radius:10px;
}
.radius-5{
	border-radius:5px!important;
}
.radius-15{
	border-radius:15px!important;
}

.btnChangeNumber{
	display:inline-block;
	padding:1rem;
	font-size:15px;
	cursor:pointer;
}
.sortable-placeholder {
  height: 100px;
  background: #ffe;
}

td.empty{
	padding:5rem;
	text-align:center;
	color:#999;
}

@media(max-width:767px){
	.response-table{
		overflow-x:auto;
		max-width:100%;
		white-space:nowrap;
	}
	.pagination ol > li > a{
		width:20px;
		height:20px;
	}
	#modal,
	#in-modal{
		display:block;
		padding:1rem;
		height:100vh;
		position:fixed;
	}
	#in-modal{
		padding:10rem 0;
	}
	#modal-content,
	#in-modal-content{
		min-width:100%;
		width:100%;
	}
}

/* --- Grid --- */
.grid-2{
	display:flex;
	margin-left:-24px;
}
.grid-2 > .grid__col{
	width:50%;
	padding-left:24px;
}

/* --- Progress Bar --- */
.progressbar{
}

.progress-wrap {
    position: relative;
    width: 100%;
    height: 12px;
    background: #eee;
    border-radius: 999px;
    overflow: hidden;

	background-color:#E5E7EB;
	border-radius:1rem;
	height:14px;
	width:100%;
	min-width:350px;
}
.progressbar {
    height: 100%;
    background: linear-gradient(90deg, #4facfe, #00f2fe);
    transition: width .4s ease; /* 스타일용 */
}
.progressbar {
    transition: width 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.progress-text {
    position: absolute;
    top: -22px;
    right: 0;
    font-size: 12px;
    color: #555;
}

/* ===== Toggle Switch ===== */
.toggle {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
}

/* input 숨김 */
.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* 초록 / 회색 캡슐 배경 */
.track {
    position: absolute;
    inset: 0;
    background: #e5e7eb;
    border-radius: 999px;
    transition: background .25s ease;
}

/* 흰색 동그라미 */
.track::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 3px;
    left: 3px;
    background: #fff;
    border-radius: 50%;
    transition: transform .25s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

/* ON 상태 */
.toggle input:checked + .track {
    background: #6BEA63;
}

.toggle input:checked + .track::after {
    transform: translateX(18px);
}

/* ===== Board Search ===== */
.board-search{
	display:flex;
}
.board-search .col{
	flex:1 1 auto;
}
.board-search .col select,
.board-search .col input,
.board-search .col button{
	height:50px;
	border:0;
}
.board-search .col select{
	background-image:url('../img/ico_select_down.png');
	background-size:12px 8px;
}
.board-search .col:nth-child(1){
	min-width:150px
}
.board-search .col:nth-child(2){
	width:100%;
	padding:0 10px;
}
.board-search .col:nth-child(3){
	min-width:100px;
}
.board-search .col:nth-child(3) .btn{
	width:100%;
}
.board-search input,
.board-search selecT{
	background-color:#F5F5F5;
}

/* ========= Pagination ============ */
.pagination-wrap {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.pagination {
  display: flex;
  gap: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-item {
  display: inline-flex;
}

.page-link {
  min-width: 36px;
  height: 36px;
  padding: 0 10px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  background: #fff;
  color: #374151;
  font-size: 14px;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all .15s ease;
}

.page-link:hover {
  background: #f3f4f6;
  border-color: #d1d5db;
}

/* 현재 페이지 */
.page-item.active .page-link {
  background: var(--color-primary);
  color: #fff;
  border-color: #111827;
  font-weight: 600;
}

/* 비활성 */
.page-item.disabled .page-link {
  opacity: .4;
  pointer-events: none;
}

/* == dot box == */
.dotbox{
	border:2px dotted #3059FF;
	padding:2px 4px;
	display:inline-block;
}

/* == image inline == */
.img-inline{
	display:inline-flex;
	align-items:center;
	margin-left:12px;
	font-size:14px;
	line-height:1;
	vertical-align:middle;
}

/* == headBox == */
.headBox{
	background-color:#F5F5F5;
	border:1px solid #CECECE;
	padding:20.5px 17px;
	margin-bottom:20px;
	font-size:16px;
}
.headBox:not(.--green) .btn{
	background-color:#FCFCFC;
	border:1px solid #CECECE;
	height:38px;
	font-size:15px;
	border-radius:5px;
	margin-left:5px;
}

.headBox.--green{
	background-color:#E0FFE8;
	border:0;
	padding:10px 20px;
	height:67px;
	display:flex;
	align-items:center;
}
.headBox.--green .btn{
	height:37px;
	font-size:14px;
	border-radius:5px;
	margin-left:5px;
}

/* == photo box == */
.photoBoxWrap{
	display:flex;
	margin-left:-10px;
}
.photoBoxWrap .photoBox{
	width:33.333%;
	margin-left:10px;
	border:2px solid #678F20;
}
.photoBoxWrap .photoBox h3{
	background-color:#F5F5F5;
	display:block;
	color:#888;
	font-size:14px;
	padding:11.5px 10px;
}
.photoBoxWrap .photoBox .photoBox__content{
	min-height:210px;
	max-height:210px;
}
.photoBoxWrap .photoBox .photoBox__content label{
    color:var(--color-green);
}

.photoBoxWrap input[type="file"]{
    display:none;
}
.photoBox__content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* -- custom selectbox -- */
.select-wrap{
    position:relative;
    width:100%;
    font-size:16px;
}

.select-btn{
    width:100%;
    height:67px;
    display:flex;
    align-items:center;

    padding:15px 20px;
    padding-right:10%;
    font-size:15px;
    font-weight:500;
    color:#404040;

    border:1px solid #E0E0E0;
    border-radius:10px;
    background:
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23000000'><path d='M6 9l6 6 6-6z'/></svg>")
        no-repeat
        calc(100% - 20px)
        center;

    background-size:24px 24px;
    cursor:pointer;
    font-size:18px;
}

.select-btn::after{
    content:'';
    position:absolute;
    right:20px;
    top:50%;
    width:10px;
    height:6px;
    transform:translateY(-50%);
    height: 67px;
    font-size: 18px;
    border-radius: 10px;
}

.select-list{
    display:none;
    position:absolute;
    left:0;
    top:100%;
    width:100%;
    border:1px solid #bfbfbf;
    border-radius:14px;
    background:#fff;
    margin-top:6px;
    z-index:10;
    overflow:hidden;
}

.select-list li{
    padding:22px 20px;
    border-top:1px solid #e0e0e0;
    cursor:pointer;
    font-weight:400;
    font-size:18px;
}
.select-list li:hover{
    background-color:#F0FFD7;
}

.select-list li:first-child{
    border-top:none;
}


.select-wrap.open .select-list{
    display:block;
}

/* ---------------------------------------
	게시판 이전글 다음글
--------------------------------------- */
.prevNextArticle{
    margin-top:20px;
    border:1px solid #dfdfdf;
}
.prevNextArticle ul li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
}
.prevNextArticle ul li a{
    color:var(--color-text);
    display:block;
    padding:10px 20px;
    padding-left:100px;
}
.prevNextArticle ul li:first-child{
    border-bottom:1px solid #efefef;
}
.prevNextArticle ul li:hover{
    background-color:#f3f3f3;
}
.prevNextArticle ul li::before{
    font-weight:500;
}
.prevNextArticle ul li::before{
    content:'이전글';
    position:absolute;
    left:20px;
    top:50%;
    transform:translateY(-50%);
    z-index:2;
    color:#333;
}
.prevNextArticle ul li:first-child::before{
    content:'이전글';
}
.prevNextArticle ul li:last-child::before{
    content:'다음글';
}
.prevNextArticle ul li span{
    padding-right:1rem;
    color:#9c9c9c;
    font-weight:400;
}

/* ---------------------------------------
	게시판 하단 액션
--------------------------------------- */
.boardAction{
    border-top:1px solid #dfdfdf;
    padding-top:1rem;
    margin-top:20px;
}
.boardAction .btn{
    height:40px;
}
.boardAction .btn + .btn{
    margin-left:1rem;
}

